<!-- Footer -->
<footer class="page-footer font-small blue">
  <!-- Copyright -->
  <div class="footer-copyright text-center text-dark py-3">© 2023 Copyright:
    <a href="/"> TCClub.com</a>
    <h6><a class="" href="mailto:info@kcclub.com?subject = Feedback&body = Message"><img src="/img/email.png" alt="reg" width="20" height="20"/> info@kcclub.com</a></h6>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
