<style>
    body {
        background-image: url("https://images.unsplash.com/photo-1445384763658-0400939829cd?ixlib=rb-4.0.3&dl=christopher-campbell-kFCdfLbu6zA-unsplash.jpg&q=80&fm=jpg&crop=entropy&cs=tinysrgb");
        background-size: cover;
        background-repeat:no-repeat;     
    }
    .box {    
        width: 100%;
        height: 1000px;
        border: 5px solid grey;
    }
    img {
        max-width: 100%;
        height: auto;
    } 
.display {
    border: 0;
    width: 200%;
    text-align: left;
    position: absolute;
    top:  65%;
    left: 18%;
    margin: auto;
    height: 30%;
    min-width: 600px;
    max-width: 900px;

}    

</style>

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center text-white" style="background-color: rgba(0, 0, 0, 0.459);">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">A world of Luxury</h1>
    <p class="lead font-weight-normal">Await you</p>
    <a class="btn btn-outline-secondary" href="#">Coming soon</a>
  </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>
<br><br>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-6 text-white">
        <img src="https://source.unsplash.com/random/600x400" alt="" class="">
        <h2>Heading</h2>
        <p>Will you do the same for me? It's time to face the music I'm no longer your muse. Heard it's beautiful, be the judge and my girls gonna take a vote. I can feel a phoenix inside of me. Heaven is jealous of our love, angels are crying from up above. Yeah, you take me to utopia.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-6 text-white">
        <img src="https://source.unsplash.com/random/600x400" alt="" class="">
        <h2>Heading</h2>
        <p>Standing on the frontline when the bombs start to fall. Heaven is jealous of our love, angels are crying from up above. Can't replace you with a million rings. Boy, when you're with me I'll give you a taste. There’s no going back. Before you met me I was alright but things were kinda heavy. Heavy is the head that wears the crown.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
 
    </div>

    <hr>

  </div> <!-- /container -->

<br>
   
    

{{!-- 
    display: flex;
    justify-content: center;
    align-items: center;

    border: 0;
    width: 200%;
    text-align: left;
    position: absolute;
    top:  65%;
    left: 18%;
    margin: auto;
    height: 30%;
    min-width: 600px;
    max-width: 900px; --}}