<div class="position-relative overflow-hidden p-0 p-md-0 m-md-0 text-center text-white" style="background-color: #796241;">
  <div class="col-md-0 p-lg-0 mb-4" style="background-color: #374764">

  <img src="/img/sports_golf.jpg" class="img-fluid">

    <h1 class="display-4 font-weight-normal">A world of Golf </h1>
    <p class="lead font-weight-normal">Await for you</p>
    <a class="btn btn-outline-secondary" href="#">Coming soon</a>
    <p>
  </div>
  <div class="product-device shadow-sm d-none d-md-block" ></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block" ></div>
</div>
<br>

  <div class="container">
    <!-- Example row of columns -->
   <div class="card" style="border: 0px solid;">    
      <div class="card-body">
        <h4 class="card-title">Golf</h4><p>
        <h6 class="card-subtitle text-muted">Join our Golf Tour !</h6><p>
        <p class="card-text">Welcome local and international visitors to play and enjoy the unique golfing and leisure experience of the three championship golf courses in Fanling. Visitors are welcome Monday to Sunday from 10:00am to dark. Starting times can be booked up to seven days in advance.<p>
        Our facilities include a 32 bay Driving Range, extensive dining facilities offering both Western and Chinese menus, changing rooms with lockers available and a fully equipped Golf Shop with a wide range of equipment, apparel and accessories. Teaching Professionals and trained caddies are also available for hire.<p>
        To enhance your golfing experience all transactions within the Club can be settled with the use of a prepaid debit card which can be purchased at the Reception. The Club accepts cash and credit cards at the Reception and the Golf Shop.
        
        </p>
        <a href="/bookings/add" class="btn btn-outline-light" style="background-color: #8b817a">Book Now &raquo;</a>
    </div>
</div>
<br><br>


    {{!-- <div class="row">
      <div class="col-md-6 text-black">
        <img src="https://source.unsplash.com/random/400x200" alt="" class="">
        <h2></h2>
        <p>Will you do the same for me? It's time to face the music I'm no longer your muse. Heard it's beautiful, be the judge and my girls gonna take a vote. I can feel a phoenix inside of me. Heaven is jealous of our love, angels are crying from up above. Yeah, you take me to utopia.</p>
        <p><a class="btn btn-secondary" href="#" role="button">Book Now &raquo;</a></p>
      </div>
      <div class="col-md-6 text-black">
        <img src="https://source.unsplash.com/random/400x200" alt="" class="">
        <h2>Heading</h2>
        <p>Standing on the frontline when the bombs start to fall. Heaven is jealous of our love, angels are crying from up above. Can't replace you with a million rings. Boy, when you're with me I'll give you a taste. There’s no going back. Before you met me I was alright but things were kinda heavy. Heavy is the head that wears the crown.</p>
        <p><a class="btn btn-secondary" href="#" role="button">Book Now &raquo;</a></p>
      </div> --}}
 
    </div>

    <hr>

  </div> <!-- /container -->

<br>
   
    

{{!-- 
    display: flex;
    justify-content: center;
    align-items: center;

    border: 0;
    width: 200%;
    text-align: left;
    position: absolute;
    top:  65%;
    left: 18%;
    margin: auto;
    height: 30%;
    min-width: 600px;
    max-width: 900px; --}}