{{#if bookings}}
    <div class="col mb-4">

        <div class="card">
          {{!-- auto-images --}}
          <img src="{{img_path}}" alt="" class="card-img-top img-fluid">
          {{!-- auto-images --}}
          <div class="card-body">
            <h2 class="card-title">{{facility}}</h2>
          
              {{!-- <p class="card-text">Tennis has always been one of the most popular sporting activities at the 
              <br></p>
              <br>
              <h5 class="card-subtitle text-muted">Booking</h5>
              <br>Tennis courts may be booked for 60 minutes per session.  Advance booking permitted for up to five days in advance. --}}
          </div>
        </div>

      </div>
{{/if}}