<div class="position-relative overflow-hidden p-0 p-md-0 m-md-0 text-center text-white" style="background-color: #796241;">
  <div class="col-md-0 p-lg-0 mb-4" style="background-color: #374764">

  <img src="/img/sports_rugby.png" class="img-fluid">

    <h1 class="display-4 font-weight-normal">Form your Ruby Team !</h1>
    <p class="lead font-weight-normal">Await for you</p>
    <a class="btn btn-outline-secondary" href="#">Coming soon</a>
    <br>
  </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>
<br>

  <div class="container">
    <!-- Example row of columns -->
  <div class="card" style="border: 0px solid;">    
      <div class="card-body">
        <h4 class="card-title">Rugby</h4><p>
        <h6 class="card-subtitle text-muted">Enjoy with your Rugby teamate !</h6><p>
        <p class="card-text">World Rugby and FIFA accredited 3rd Generation Artificial Turf. Rugby cum Soccer line marking
        ,size 93 x 62.5m.<p>
        It is the ideal venue for field sports traning or competitions as well as corporate events, meetings and conferences.Rugby field can be booked for 60 minutes per session. Visitors are welcome Monday to Sunday from 10:00am to dark. Advance booking permitted for up to five days in advance. Teaching Professionals and trained caddies are also available for hire.
        <p>
        To enhance your rugby experience all transactions within the Club can be settled with the use of a prepaid debit card which can be purchased at the Reception. The Club accepts cash and credit cards at the Reception.
        
        </p>
        <a href="/bookings/add" class="btn btn-outline-light" style="background-color: #8b817a">Book Now &raquo;</a>
      </div>
</div>
<br><br>
 
  </div>

  <hr>

  </div> <!-- /container -->

<br>
   
    
