<div class="position-relative overflow-hidden p-0 p-md-0 m-md-0 text-center text-white" style="background-color: #796241;">
  <div class="col-md-0 p-lg-0 mb-4" style="background-color: #374764">

  <img src="/img/sports_squash.png" class="img-fluid">

    <h1 class="display-4 font-weight-normal">Join our Squash Club! </h1>
    <p class="lead font-weight-normal">Await for you</p>
    <a class="btn btn-outline-secondary" href="#">Coming soon</a>
    <p>
  </div>
  <div class="product-device shadow-sm d-none d-md-block" ></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block" ></div>
</div>
<br>

  <div class="container">
    <!-- Example row of columns -->
   <div class="card" style="border: 0px solid;">    
      <div class="card-body">
        <h4 class="card-title">Squash</h4><p>
        <h6 class="card-subtitle text-muted">Join our Squash Club !</h6><p>
        <p class="card-text">Welcome to The Club Squash Center! A 33,000-square-foot facility available to The Club members and guests that boasts 12 singles courts, two doubles courts, and two exhibition courts, all within one single venue. 
        <p>
        The facility is a remarkable space serving players of all skill levels. The Club Squash Center is widely considered one of the best squash facilities in the world and plays host to several junior and professional events, including the World Masters Squash Championships in 2018.
        <p>
        Our squash court can be booked for 60 minutes per session.Visitors are welcome Monday to Sunday from 10:00am to dark. Starting times can be booked up to five days in advance.
        Teaching Professionals and trained caddies are also available for hire.<p>
        To enhance your squash experience all transactions within the Club can be settled with the use of a prepaid debit card which can be purchased at the Reception. The Club accepts cash and credit cards at the Reception.
        
        </p>
        <a href="/bookings/add" class="btn btn-outline-light" style="background-color: #8b817a">Book Now &raquo;</a>
    </div>
</div>
<br><br>


   
    </div>

    <hr>

  </div> <!-- /container -->

<br>
   
    

